language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

services: mongodb

before_script:
  - echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - composer install --dev --prefer-source

script:
  - cd tests
  - cp test.application.config.php ../config/application.config.php
  - ../vendor/bin/doctrine-module odm:schema:create
  - ../vendor/bin/doctrine-module odm:schema:drop
  - phpunit