<?xml version="1.0"?>
<ruleset name="Doctrine coding standard">
    <description>Doctrine coding standard</description>

    <!-- display progress -->
    <arg value="p"/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>

    <!-- Include full Doctrine Coding Standard -->
    <rule ref="Doctrine"/>

    <!-- Paths to check -->
    <file>config</file>
    <file>src</file>
    <file>tests</file>
</ruleset>
