<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="./vendor/autoload.php"
    colors="true"
    backupGlobals="false"
>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="DoctrineMongoODMModule Test Suite">
            <directory>./test/DoctrineMongoODMModuleTest/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
