<?php

return array(
    'doctrine' => array(
        'connection' => array(
            'odm_default' => array(
                //'server'  => 'hostname',
                'options' => array(
                    //'username' => 'username',
                    //'db'       => 'database-name'
                ),
            ),
        ),

        'configuration' => array(
            'odm_default' => array(
                'generate_proxies'  => true,

                //'proxy_dir'         => 'data/doctrine',
                //'proxy_namespace'   => 'DoctrineODMModule\Proxy',

                //'hydrator_dir'         => 'data/doctrine',
                //'hydrator_namespace'   => 'DoctrineODMModule\Hydrator',

                'document_namespaces' => array(
                    //'My\Document',
                ),
            ),
        ),
    ),
);