name: "Continuous Integration"

on:
  pull_request:
    branches:
      - "*.x"
  push:
    branches:
      - "*.x"

jobs:
  phpunit:
    name: "PHPUnit"
    runs-on: "ubuntu-20.04"

    strategy:
      matrix:
        php-version:
          - "7.4"
          - "8.0"
          - "8.1"
        dependencies:
          - "highest"
        include:
          - php-version: "7.4"
            dependencies: "lowest"

    services:
      mongodb:
        image: "mongo:5"
        options: >-
          --health-cmd mongo
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 27017:27017

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"
        with:
          fetch-depth: 2

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: "pcov"
          ini-values: "zend.assertions=1"
          extensions: "mongodb"

      - name: "Install dependencies with Composer"
        uses: "ramsey/composer-install@v1"
        if: "! startsWith(matrix.php-version, '8')"
        with:
          dependency-versions: "${{ matrix.dependencies }}"
          composer-options: "--prefer-dist"

      - name: "Install dependencies with Composer (--ignore-platform-req=php)"
        uses: "ramsey/composer-install@v1"
        if: "startsWith(matrix.php-version, '8')"
        with:
          dependency-versions: "${{ matrix.dependencies }}"
          composer-options: "--prefer-dist --ignore-platform-req=php"

      - name: "Configure test application"
        run: "cp ./tests/TestConfiguration.php ./config/application.config.php"

      - name: "Create schema"
        run: "./vendor/bin/doctrine-module odm:schema:create"

      - name: "Drop schema"
        run: "./vendor/bin/doctrine-module odm:schema:drop"

      - name: "Run PHPUnit"
        run: "./vendor/bin/phpunit --coverage-clover=coverage.xml"

      - name: "Upload coverage file"
        uses: "actions/upload-artifact@v2"
        with:
          name: "phpunit-${{ matrix.php-version }}.coverage"
          path: "coverage.xml"

  upload_coverage:
    name: "Upload coverage to Codecov"
    runs-on: "ubuntu-20.04"
    needs:
      - "phpunit"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"
        with:
          fetch-depth: 2

      - name: "Download coverage files"
        uses: "actions/download-artifact@v2"
        with:
          path: "reports"

      - name: "Upload to Codecov"
        uses: "codecov/codecov-action@v1"
        with:
          directory: "reports"
